.circular-nav-button {
  z-index: 150;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c6e421;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 55px;
  top: 27px;
  outline: none;
  transition: background-color 250ms linear;
  isolation: isolate;
  will-change: transform;
  transform: translateZ(0);
}

.circular-nav-button[data-open="true"] {
  background-color: #000;
  animation: scaleIn 300ms ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0) translateZ(0);
  }
  to {
    transform: scale(1) translateZ(0);
  }
}

.circular-nav {
  background-color: #c6e421;
  position: fixed;
  z-index: 140;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  isolation: isolate;
  will-change: clip-path;
  transform: translateZ(0);
}

.circular-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
  align-self: flex-start;
}

.circular-nav-menu-item {
  font-size: 12vh;
  line-height: 1.1;
}

.circular-nav-menu-item a {
  letter-spacing: -4px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: opacity 150ms ease;
}

.circular-nav-menu-item a:hover {
  opacity: 0.6;
}
