/* globals.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
}
