:root {
  --bg: #e5e3dc;
  --link-color: #e2e2dc;
  --overlay-bg: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  font-family: "Roslindale Display Condensed";
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
